*,body {
    margin: 0
}

* {
    box-sizing: border-box;
    padding: 0
}

body {
    font-family: "Lucida Sans","Lucida Sans Regular","Lucida Grande","Lucida Sans Unicode",Geneva,Verdana,sans-serif;
    font-size: large;
    font-weight: bolder;
    background-image: url(../images/tennis.webp);
    background-size: repeat;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 105px;
    background-image: url(../images/header-background.webp);
    background-repeat: round;
}

header h1 {
    display: block;
    margin: auto;
    color: black;
    border: 1px solid;
    border-radius: .5em;
    background-color: white;
    box-shadow: 6px 6px blue;
    padding: .1em .3em;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.first {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

p {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    text-indent: 2em;
    line-height: 2em;
    text-align: justify;
}

.future {
    display: flex;
    flex-wrap: wrap;

}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: .1em;
    margin: 0;
}

li {
    display: flex;
    flex-wrap: wrap;
    margin: 0 1em;
}

header a, .social-icons a {
    display: block;
    border: 1px solid;
    border-radius: .5em;
    margin: .5em;
    background-color: white;
    box-shadow: 6px 6px blue;
    padding: .5em 1em;
    text-decoration: none;
}

.avatar {
    text-align: center;
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid;
    border-color: purple green;
    border-style: solid;
    border-width: 6px;
}

.cell {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.cell img {
    display: flex;
    flex-wrap: wrap;
    margin: .5em;
    width: 100%;
}

.first .cell, .future .cell {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.cell div {
    display: flex;
    flex-wrap: wrap;
    background-color: #ff0;
    border-radius: .5em;
    padding: .5em 1em;
    margin: 1em;
    position: relative;
    width: 175px;
    bottom: 100px;
    text-shadow: .2em .2em .3em silver;
}

/* tooltip */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: purple;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 3px;

    position: absolute;
    z-index: 1;
    top: 15px;
    right: 110%;

    opacity: 0;
    transition: opacity 2s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
    opacity: 1;
}

i {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

/* Change to badminton */
@media screen and (max-width:968px) {

    body {
        background-image: url(../images/badminton.webp);
        background-size: repeat;
    }
}

/* Change to table tennis */
@media screen and (max-width:600px) {
    
    body {
        background-image: url(../images/table-tennis.webp);
        background-size: repeat;
    }
