.card {
    height: 30rem;
}

img {
    height: 300px;
}

/* /* style and positioning of the unordered list */
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: .1em;
}

/* style of the listed items in the unordered list */
li {
    display: flex;
    flex-wrap: wrap;
}

/* style and positioning of the navigations */
.social-icons a {
    display: block;
    border: 1px solid;
    border-radius: .5em;
    margin: .5em;
    background-color: white;
    box-shadow: 6px 6px blue;
    padding: .5em 1em;
    text-decoration: none;
    text-align: center;
    border-color: gold silver;
    border-style: groove;
    border-width: 10px;
}



/* style and positioning of the tooltip for phone */
.tooltip {
    position: relative;
    display: inline-block;
}

/* style and positioning of the hidden tooltip and its text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: purple;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: -15px;
    opacity: 0;
    transition: opacity 2s;
}

/* style and positioning of the tooltip's arrow to appear visible after cursor lies on top of icon */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/* style and positioning of the tooltip to appear visible after cursor lies on top of icon */
.tooltip:hover .tooltiptext{
    visibility: visible;
    opacity: 1;
}

/* style and position of all icons */
i {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}